.top {
  display: flex;
  justify-content: center;
}

.category-container {
  display: grid;
  justify-content: center;
  gap: 2rem;
}

.category {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(var(--blue));

  &::first-letter {
    text-transform: uppercase;
  }
}
