.container {
  display: grid;
  grid-template-columns: min(100% - 2rem, 80rem);
  grid-template-rows: auto auto 1fr;
  justify-content: center;
  align-content: start;
  gap: 3rem;
  padding-block: 2rem;
  text-align: center;

  dialog {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 3rem;
    box-shadow:
      inset 0 -0.125rem 0 0.25rem rgb(var(--dark-blue)),
      inset 0 1rem 0 0.5rem rgb(var(--light-blue));
    font-size: var(--fs-h1);
    color: rgb(var(--white));
    background-color: rgb(var(--dark-navy));

    &:not([open]) {
      display: none;
    }

    > a {
      text-decoration: none;
    }

    > :where(button, a) {
      padding: 1rem 1.5rem;
      border-radius: 4rem;
      background-color: rgb(var(--blue));
    }

    > button:hover,
    > a:hover {
      opacity: 0.5;
      transition: opacity var(--transition-duration);
    }
  }
}

.menu {
  align-items: center;
  padding: 1rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;

  a {
    padding: 1rem;
    border-radius: 50%;
    background-color: rgb(var(--dark-pink));

    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  h1 {
    margin-right: auto;
  }
}

.health {
  width: clamp(5rem, 2.5rem + 12.5vw, 10rem);
  height: 1.5rem;
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: rgb(var(--white));

  > div {
    height: 100%;
    border-radius: 1rem;
    background-color: rgb(var(--dark-navy));
    transition: width var(--transition-duration);
  }
}

.hidden-letters {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 2rem;

  > * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 4rem;
    border-radius: 1rem;
    font-weight: var(--fw-button);
    font-size: var(--fs-h2);
    background-color: rgb(var(--light-blue));
  }
}

.letters {
  display: grid;
  align-self: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));

  > * {
    width: 5rem;
    height: fit-content;
    border-radius: 1rem;
    font-size: var(--fs-h2);
    transition: opacity var(--transition-duration);

    &:hover {
      opacity: 0.5;
    }

    &:disabled {
      opacity: 0.2;
    }
  }
}

.letter-button {
  background-color: rgb(var(--blue));
}
