.container {
  max-width: 60rem;
  padding: 4rem 2rem;
  margin-inline: auto;

  > * + * {
    margin-top: clamp(3rem, 1.5rem + 7.5vw, 6rem);
  }

  a {
    width: clamp(3rem, 2.5rem + 2.5vw, 4rem);
    aspect-ratio: 1;
    padding: 1rem;
    border-radius: 50%;
    background-color: rgb(var(--dark-pink));
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  h1 {
    text-shadow: 0.125rem 0.125rem 2rem rgb(var(--blue));
    font-size: var(--fs-h1);
    color: rgb(var(--lighter-blue));
  }
}

.rules {
  display: grid;
  gap: 2rem;
  counter-reset: rules;

  section {
    display: grid;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgb(var(--white));
  }

  h2 {
    display: flex;
    gap: 1rem;
    font-size: var(--fs-h2);
    color: rgb(var(--dark-navy));

    &:before {
      counter-increment: rules;
      content: counter(rules);
      color: rgb(var(--blue));
    }
  }

  p {
    color: rgb(var(--lavender));
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: [heading-start] auto [heading-end text-start] 1fr [text-end];

    section {
      grid-template-rows: subgrid;
      grid-row: 1 / -1;
    }

    h2 {
      grid-row: heading;
    }

    p {
      grid-row: text;
    }
  }
}
