/* Font families */
@font-face {
  font-family: "MouseMemoirs";

  src: url("../resources/fonts/MouseMemoirs-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "NotoSerifJP";

  src: url("../resources/fonts/NotoSerifJP-Regular.otf");
  font-weight: 400;
}

/* custom properties */
:root {
  /* box model */
  --flow-spacing: 1em;
  --max-w-container: var(--macro-grid-content-max-w);
  --max-w-dialog: 45rem;
  --max-w-skeleton: 60rem;
  --min-w-root: 20rem;
  --max-h-chatbox: 35rem;
  --max-h-notification-box: 40rem;
  --max-h-chat-sidebar-list: 20rem;
  --p-inline-container: 2rem;
  --p-chat-sidebar-grid-item: 0.5rem;
  --w-icon: 2rem;
  --box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  /* grid */
  --auto-grid-column-w: 15rem;
  --gap-main: 2rem;
  --macro-grid-breakout-column-w: calc(
    (var(--macro-grid-breakout-max-w) - var(--macro-grid-content-max-w)) / 2
  );
  --macro-grid-breakout-max-w: 90rem;
  --macro-grid-content-max-w: 70rem;
  --macro-grid-gap: 2rem;

  /* typography */
  --ff-root: "MouseMemoirs", sans-serif;
  --ff-letter: "NotoSerifJP", sans-serif;

  --fw-button: 600;
  --fw-form: 500;
  --fw-heading: 700;
  --fw-link: 500;
  --fw-root: 400;
  --fw-user-info: 800;

  --fs-h1: clamp(3rem, 2rem + 5vw, 5rem);
  --fs-h2: clamp(2rem, 1.5rem + 2.5vw, 3rem);
  --fs-h3: clamp(1.5rem, 1rem + 2.5vw, 2.5rem);
  --fs-h4: clamp(1.125rem, 0.6875rem + 2.1875vw, 2rem);
  --fs-label: 0.8125rem;
  --fs-profile: 1.125rem;
  --fs-root: 1.25rem;

  /* colors */
  --dark-navy: 38, 22, 118;
  --blue: 36, 98, 255;
  --dark-blue: 20, 14, 102;
  --light-blue: 60, 116, 255;
  --lighter-blue: 91, 138, 255;
  --lavender: 136, 125, 192;
  --pink: 254, 113, 254;
  --dark-pink: 198, 66, 251;
  --white: 255, 255, 255, 255;

  /* transition */
  --transition-duration: 0.5s;
  --fade-transition-duration: 1s;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
  font: inherit;
  color: inherit;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  flex-grow: 1;
  overflow-y: scroll;
}

a,
button,
input,
label {
  cursor: pointer;
}

a {
  display: inline-block;
  font-weight: var(--fw-link);
  text-decoration: none;

  &:hover {
    text-decoration: revert;
  }
}

button {
  border: none;
  font-weight: var(--fw-button);
  background-color: transparent;
  transition: opacity var(--transition-duration);

  &:hover {
    opacity: 0.5;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
  font-weight: var(--fw-heading);
}

img {
  display: block;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

textarea {
  width: 100%;
  min-height: 10em;
  padding: 0.2em;
  cursor: text;
  background-color: #ddd;
  overflow: auto;
}

/* root styles */
#root {
  display: grid;
  min-height: 100vh;
  min-width: var(--min-w-root);
  font-family: var(--ff-root);
  font-weight: var(--fw-root);
  font-size: var(--fs-root);
  color: var(--c-root);
  background-color: var(--bgc-root);
}

@media (prefers-reduced-motion) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}
